.filter-button {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 6px;
  padding: 10px;
  color: black;
  width: 100px;
  margin: 5px;
  transition: all 0.2s ease;
}

.filter-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.filter-button.selected {
  background-color: black;
  color: white;
}
