nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}

nav img {
  height: 2rem; /* 32px on default browser settings */
  width: auto;
  max-width: 120px;
}

a {
  text-decoration: none;
  color: black;
}
