.asics-product-grid-container,
.nike-product-grid-container,
.adidas-product-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product-grid-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.product-grid {
  margin-left: 10px;
  margin-right: 10px;
}
