.hero-1 {
  background-image: url("../assets/images/banners/tie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-2 {
  background-image: url("../assets/images/banners/track2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-3 {
  background-image: url("../assets/images/banners/exhausted.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-1-text,
.hero-1-text-2,
.hero-2-text,
.hero-2-text-2,
.hero-3-text,
.hero-3-text-2 {
  color: white;
  margin-left: 10px;
}

@media (min-width: 1386px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .hero-1,
  .hero-2,
  .hero-3 {
    height: 96vh;
  }
}
